/**
* @name Purpura
* @author Dudeksikorski
* @authorId 622691164843409418
* @version 2.8.1
* @description A dark purple BetterDiscord theme, with a multi panel look and glow.
* @source https:https://github.com/dudeksikorski/Purpure
*/

/* Main Theme File, please do not remove */
@import url(https://dudeksikorski.com/usrbg/main.css);

/* Image assets, still very important, please do not remove. */
@import url(https://dudeksikorski.com/usrbg/allinone-sprite.png);

/* Commissioner font, Source Sans Pro and Fira Code font, please do not remove. */
@import url(https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);


/* Discord Custom Covers, Optional */
@import url('https://dudeksikorski.com/usrbg/usrbg.css');


.container-YkUktl {
  height: 85px;
}
.container-YkUktl .avatarWrapper-1B9FTW {
  position: absolute;
  bottom: 45px;
}
.container-YkUktl .nameTag-sc-gpq {
  position: absolute;
  bottom: 45px;
  left: 50px;
}
.container-YkUktl > .noWrap-hBpHBz {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container-YkUktl > .noWrap-hBpHBz button {
  width: 100%;
  justify-content: space-evenly;
}
